.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %a.navbar-brand{href: "#"} SMS Knowledge

/ Main jumbotron for a primary marketing message or call to action
.jumbotron
  .container
    %h1 SMS Knowledge
    %p Text a query to 217-334-4307

.container
  / Example row of columns
  .row
    .col-md-4
      %h2 Integration
      %p Try "integrate e^x" or "integrate n^2 from 0 to 1"

    .col-md-4
      %h2 IP Address Lookup
      %p Send a IPv4 address and get info about the owner and location

    .col-md-4
      %h2 Heading
      %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.

  %hr/
  %footer
    %p © Sean Freiburg 2014
/ /container
